# Ignore all files inside these folders, but keep the folder itself
uploads/cvs/*
uploads/events/*
uploads/newsletter/*
uploads/photos/*
uploads/profilepics/*
# But do NOT ignore the folders themselves
!uploads/cvs/
!uploads/events/
!uploads/newsletter/
!uploads/photos/
uploads/profilepics/
